.header_block{
    display: flex;
    justify-content: space-between;
    .logo{
        width: 77px;
height: 20px; 
left: 15px;
margin-top: 32px;

    }
    p{
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
       
       
    }
}

.menu-btn {
    width: 24px;
    height: 30px;
    position: relative;
    z-index:2;
    overflow: hidden;
    top:32px;
   }
   .menu-btn span {
    width: 24px;
    height: 2.67px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #222222;
    transition: all 0.5s;
   }
   .menu-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
   }
   .menu-btn span:nth-of-type(3) {
    top: calc(50% + 5px);}
   
    .menu_p{
       position: absolute;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400px;
        font-size: 8px;
        line-height: 8px;
        text-align: center;
        color: #4E5A65;
}

    @media(min-width: 414px){
        .container{
    padding: 0 15px;
    }}
